.all {
  background: #F4F6FF;
}

/* Ajuste da imagem de fundo */
.foto {
  min-height: 60em; /* Altura mínima */
  background-image: url("https://media.discordapp.net/attachments/966154918467629106/1299076406944202812/image_4.jpg?ex=671be2af&is=671a912f&hm=ff45bbbf41cd549f5561c4b5d6ddd2fef8626619e561e1ac3d48d5dae3a7fb31&=&format=webp&width=1315&height=580");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.foto h1 {
  font-size: 4em; /* Ajuste para ficar responsivo em mobile */
  color: azure;
  padding: 2em;
}

/* Remove a posição absoluta e usa padding e margin */
.botlaranja {
  height: auto;
  padding: 2em;
  border-radius: 2em;
  background: #FF8000;
  margin-top: 2em;
}

.textos {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}

.textos h2 {
  color: aliceblue;
  font-weight: 700;
}

.search-bar {
  display: flex;
  flex-wrap: wrap; /* Flexível para dispositivos móveis */
  gap: 1em;
}

.search-bar input {
  flex: 1;
  width: 100%; /* Adaptação para mobile */
}

.greenbtn {
  background: #00C200;
  margin: 0 auto; /* Centraliza horizontalmente */
  display: block;
}

.restHome {
  padding: 2em;
}

.restHome h1 {
  font-weight: 700;
}

/* Ajustes para containers dos carros */
.containercar1, .containercar2, .containercar3 {
  height: 100%;
  border-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  flex-direction: column;
  border: 0.4em solid #FFEBA4;
  padding: 1em;
}

.btnAlugue{
  display: flex;
  align-items: center;
  justify-content: center;
  left: 50%;
  
}
.btnAlugue button{
  height: 7em;
  width: 20em;
}