.Cabeça{
    background: linear-gradient(0deg, rgba(244,246,255,1) 15%, rgba(243,198,35,1) 59%);
    height: 10em;
    top: 0;
    align-items: center;
    display: flex;
}
.Cabeça img{
    margin-bottom: 1em;
}
.perfilImage {
    display: block;
  margin-left: auto;
}
.line{
    height: 0.4em;
    background-color: #f3c623;
}
